/* GENERAL */

* {
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: inherit;
  }
  p,
  h2,
  h3 {
    margin: 0;
  }
  html {
    height: 100%;
    box-sizing: border-box;
  }
  
  img {
    display: block;
    height: auto;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", Tahoma, Geneva, Verdana, sans-serif, Times, serif,
      "Arial", sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* line-height: var(--main-line-height); */
  }
  
  /* STICKY-FOOTER */
  .site-main {
    flex-grow: 1;
  }
 
  
.container {
width: 100%;
max-width: 720px;
margin: 0 auto;
 
}